---
layout: default
title: Home
use_math: true
---

<h1 class="baseh1">Blog</h1>
<ul class="indexul">
  {% for post in site.posts %}
      <div class="vl" onclick="window.open('{{ post.url }}', '_self');">
        <li>
          <h2 class="indexh2">{{ post.title }}</h2>
          <br>
          <span class="indexspan"><em>Published {{ post.date | date_to_string }}</em></span>
          <br>
          <img width="10" height="10" src="/assets/images/img_432341.svg"></img>
          {% for tag in post.tags %}
            <span class="tags"><em>{{ tag }}</em></span>
          {% endfor %}
          <div class="indexdiv">{{ post.excerpt }}</div>
        </li>
      </div>
  {% endfor %}
</ul>
<script type="text/javascript" src="/assets/js/post.js"></script>
