---
layout: default
title: Home
---

<h1 class="baseh1">Blog</h1>
<ul class="indexul">
  {% for post in site.posts %}
    <a class="indexcontainera" href="{{ post.url }}">
      <div class="vl">
        <li>
          <h2 class="indexh2">{{ post.title }}</h2>
          <span class="indexspan"><em>Published {{ post.date | date_to_string }}</em></span>
          <br>
          <img width="10" height="10" src="/assets/images/img_432341.svg"></img>
          {% for tag in post.tags %}
            <span class="tags"><em>{{ tag }}</em></span>
          {% endfor %}
          <span class="indexdiv">{{ post.excerpt }}</span>
        </li>
      </div>
    </a>
  {% endfor %}
</ul>
