<footer class="center">
  <div class="measure">
    <small>
      <a href="https://medium.com/@ssharma10393">
        <img src="/images/medium.png" alt="S. Sharma's Medium Profile" height="28" width="28">
      </a>
      &nbsp;
      <a href="https://dev.to/m4rtyr">
        <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="S. Sharma's DEV Profile" height="30" width="30">
      </a>
      &nbsp;
      <a href="https://github.com/m4rtyr">
        <img src="/images/GitHub-Mark-120px-plus.png" alt="S. Sharma's GitHub Profile" height="30" width="30">
      </a>
    </small>
    <br>
    <small id="creator">
      Theme crafted with &lt;3 by <a href="http://johnotander.com">John Otander</a> (<a href="https://twitter.com/4lpine">@4lpine</a>).
      &lt;/&gt; available on <a href="https://github.com/johnotander/pixyll">GitHub</a>.
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
<script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>
