@font-face {
  font-family: alegreya;
  src: url(fonts/Alegreya-Regular.ttf);
}

@font-face {
  font-family: alegreyamed;
  src: url(fonts/Alegreya-Medium.ttf);
}

.baseh1 {
  font-size: 40px;
  font-family: Georgia;
  color: #756060;
}

.basep {
  font-family: alegreya;
  font-size: 20px;
  text-align: center;
}

.basea {
  font-size: 20px;
  font-family: alegreyamed;
  color: #7E7676;
  text-decoration: none;
  padding-right: 15px;
}

.basea:hover {
  text-decoration: underline;
}

.navbar {
  padding-top: 15px;
  float: left;
  width: 40%;
}

#___gcse_0 {
  float: left;
  width: 60%;
}

#gsc-i-id1 {
  background: rgb(255, 255, 255) !important;
}
