.indexul {
  list-style-type: none;
}

.indexh2 {
  font-family: Georgia;
  font-size: 30px;
  font-weight: 100;
  color: #756060;
  margin-bottom: 0px;
}

.vl {
  padding-left: 20px;
  border-left: 6px solid gray;
  overflow: none;
}

.vl:hover {
  cursor: pointer;
}

.indexdiv {
  font-size: 15px;
  font-family: alegreya;
  display: inline-block;
  color: black;
}

.indexspan {
  font-size: 15px;
  font-family: alegreya;
  color: #7E7676;
}

.tags {
  font-family: alegreya;
  font-size: 13px;
  color: #7E7676;
}
